<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Internal shop</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="custom.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Internal shop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Sections</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/categories">Categories</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<div class="container">
    <div class="content">

        <div class="form-group сol-sm-12 border pl-5">
            <h3 class="pb-2">Создание категории</h3>
            <label for="name">Введите название категории
                <input type="text" name="name" id="name" class="form-control" placeholder="">
            </label>
            <div class="form-group">
                <label for="sectionId">
                    Выберите к какой секции оно относится
                    <select id="sectionId">

                    </select>
                </label>
            </div>
            <button onclick="addCategories()" type="button" class="btn btn-primary">Add Category</button>
        </div>
        <div class="form-group col-sm-12 border pl-5">
            <h3 class="pb-2">Изменение категории</h3>
            <label>Ввидите id секции который хотите изменить
                <input type="number" id="edit_section_id" class="form-control">
            </label>
            <label>Ввидите новое навзвание секции
                <input type="text" id="edit_section_name" class="form-control">
            </label>
            <div class="form-group">
                <label for="sectionId">
                    Выберите к какой секции оно относится
                    <select id="sectionId">

                    </select>
                </label>
            </div>
            <button type="button" onclick="editCategory()" class="btn btn-primary">Edit section</button>
        </div>

        <table class="table p-4">
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">name</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody id="result">

            </tbody>
        </table>
    </div>
</div>
<script src="jquery-3.4.1.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        loadItems();
        loadSections();
    });

    function loadItems() {
        $.get("http://localhost:8080/rest/categories", {}, function (data) {
            tableHTML = "";
            for (i = 0; i < data.length; i++) {
                tableHTML +=
                    `<tr>
                    <td>${data[i].id}</td>
                    <td>${data[i].name}</td>
                    <td><img src="img/icons8-update-100.png" style="height:20px;width: 20px" alt=""></td>
                    <td><img src="img/pencil--v1.png" style="height:20px;width: 20px" alt=""></td>
                    <td><button onclick="deleteCategory(${data[i].id})"><img src="img/trash-outline.svg" style="height:20px;width: 20px" alt=""></button></td>
                    </tr>`;
            }

            $("#result").html(tableHTML);
        });
    }

    function loadSections() {
        $.get("http://localhost:8080/rest/sections", {}, function (data) {
            select = "";
            for (i = 0; i < data.length; i++) {
                select +=
                    `
                    <option>${data[i].name}</option>
                    `;
            }

            $("#sectionId").html(select);
        });
    }

    function addCategories() {
        categoyName = $("#name").val();
        $.post("http://localhost:8080/rest/addCategory", {
            name: categoyName
        }, function (data) {
            if (data === "OK") {
                loadItems();
            }
        });
    }

    function deleteCategory(id) {
        console.log(id);
        $.post("http://localhost:8080/rest/delCategory/" + id, {
            id: id,
        }, function (data) {
            if (data === "OK") {
                loadItems();
            }
        })
    }

    function editCategory(){
        editSectionId = $("#edit_section_id").val();
        editSectionName = $("#edit_section_name").val();
        $.post("http://localhost:8080/rest/updateSections",{
            id: editSectionId,
            name: editSectionName
        },function(data){
            if (data === "OK") {
                loadItems();
            }
        });
    }

</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>